@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 7.1% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 7.1% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 7.1% 4.1%;
    --primary: 224 100% 58%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 20% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 211 100% 92%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 224 100% 58%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .container {
    @apply px-8 md:px-16 lg:px-24;
  }
}